@model PanPanIntranet.Models.Employee


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<!--
    ToDo:
    -Manual displaying of employee properties in textboxes within a form
    -Submit form button and controller method to handle edited data
    -Reset button to reset back to original values?
    -^Controller action needs to update the DB and then refresh the page (aka, redirect to EmployeeDetails Index)
    -Working back button (may need to just use JS)
-->


<!--ID field should be visible but not modifiable-->
@Html.EditorForModel(Model)
<!--Try using html.EnumDropDownListFor<>
Html.EnumDropDownListFor(PanPanIntranet.Models.Employee.CompanyRole) 

-->

<button>Back</button>